<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
</p>

<p>
  <b>Cotent:</b>
  <%= @status.cotent %>
</p>

  <b>Category:</b>
  <%= @status.category %>
</p>

<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
